.idea/
Data/aggressive
Data/not_aggressive
/Tests/.cache/
/Tests/Testdata/aggressive/
/Tests/Testdata/not_aggressive/
/Tests/Testdata/
.DS_Store
Data/.DS_Store
*.pyc
venv/
stanford-postagger-full-2015-12-09/
stanford-postagger-full-2016-10-31/
subjectivity_dict.pickle
/politeness_dict.pickle
/blacklist_dict.pickle
/stanford-parser-full-2016-10-31/
/stanford-english-corenlp-2016-10-31-models.jar
.ipynb_checkpoints/
NOTES_statistics.txt
tests__matplot_firststeps.ipynb
tests__inner_noise.ipynb
tests__t-test.ipynb
tests__wiki_dataset.py
tests__feature_selection.ipynb
Data/wiki/
